.LandingPage_body{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(
      "http://www.artransindia.com/images/banner_slider.jpg"
    );
    min-height: 140vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}