.section article {
  background-image: linear-gradient(
    to bottom,
    #47bb73,
    #54c464,
    #67cc51,
    #7ed337,
    #97d900
  );
  height: 100%;
  width: 15rem;
  color: white;
  padding-top: 8rem;
}
.section h1 {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: white;
}
/* .section article div {
  padding: 0.5rem 1rem;
  margin: 2rem 1rem;
  font-weight: 500;
  border-bottom: 3px solid;
  letter-spacing: 0.5rem;
} */
.section div{
  display: flex;
  flex-direction: column;
}
.section{
  height:100%;
}